@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F4B184,#504840 );
}

main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5048406e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #F28F33;
    text-align: center;
    text-shadow: 1px 1px 2px #5f3813b6 ;
}
h2{
    font-family: serif;
    color: #504840;
}


p{
    font-family: serif;
    text-align: justify;
}